<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="icon" href="https://github.com/tle2001/tle2001.github.io/blob/e96ba4db033cdf1ac53b49031abe7464ca7b460c/static/dazai.png"> -->
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>

<body>
  <div class="content">
    <div class="center">
      <div class="title monospace">
        <h1>technically, a blog</h1>
      </div>
      <div class="nav-bar">
        <a href="https://tle2001.github.io">home</a> | <a href="https://tle2001.github.io/articles/">articles</a> | <a href="https://tle2001.github.io/projects">projects</a> 
      </div>
    </div>
    {{ content }}
  </div>
</body>
</html>